.next-holiday-section .card {
    height: 250px;
    background-position: center;
    background-size: cover;
}

.next-holiday-section .card:hover {
    cursor: pointer;
}

.next-holiday-section .card h5 {
    font-size: 2rem;
}

.next-holiday-section .row .col-md-6:first-of-type .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url(../../Assets/Images/papandayan.jpeg);
}

.next-holiday-section .row .col-md-6:nth-of-type(2) .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url(../../Assets/Images/Arjuno.jpeg);
}

.next-holiday-section .row .col-md-6:nth-of-type(3) .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.70)), url(../../Assets/Images/pangrango.jpeg);
}

.next-holiday-section .row .col-md-6:nth-of-type(4) .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50)), url(../../Assets/Images/Gandong.jpeg);
}

.next-holiday-section .row .col-md-6:nth-of-type(5) .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50)), url(../../Assets/Images/Majakuning.jpeg);
}

.next-holiday-section .row .col-md-6:nth-of-type(6) .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50)), url(../../Assets/Images/Gslamet.jpeg);
}

.next-holiday-section .row .col-md-6:nth-of-type(7) .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url(../../Assets/Images/Gsindoro.jpeg);
}

.next-holiday-section .row .col-md-6:nth-of-type(8) .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url(../../Assets/Images/rinjani.jpeg);
}

.next-holiday-section .row .col-md-6:last-of-type .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url(../../Assets/Images/kerinci.jpeg);
}